<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.songwenju.tifservice"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".TvService"
            android:label="MyInput"
            android:permission="android.permission.BIND_TV_INPUT">

            <intent-filter>
                <action android:name="android.media.tv.TvInputService"/>
            </intent-filter>
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/tvinputservice"/>
        </service>
    </application>

</manifest>